<%= simple_form_for(@book, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :name, required: true, label: false, placeholder: "Name", autofocus: true, html_input: {class: "form-control"} %>
    <%= f.input :author, required: true, label: false, placeholder: "Author", html_input: {class: "form-control"} %>
    <%= f.input :description, required: true, label: false, placeholder: "Description", html_input: {class: "form-control", rows: 5} %>
    <%= f.input :price, required: true, label: false, placeholder: "Price", html_input: {class: "form-control"} %>
    <%= f.input :image %>
    <%= f.input :resource %>

    <div class="checkbox">
      <%= f.input :availability, required: false %>
    </div>

    <%= f.button :submit, class: "btn btn-primary btn-block" %>

<% end %>
